.bar-share-social {
  a {
    color: #666;
  }
  a.lnk-facebook:hover {
    color: #3b5998;
  }
  a.lnk-twitter:hover {
    color: #55acee;
  }
  a.lnk-instagram:hover {
    color: #ac2bac;
  }
  a.lnk-linkedin:hover,
  a.lnk-telegram:hover {
    color: #0082ca;
  }
  a.lnk-whatsapp:hover {
    color: #25d366;
  }
}
