<main ng-controller="dealsProjectsController" elem-ready="loadDealsProjects()" class="list mx-lg-5">
  <div class="container-fluid">
    <!--First column-->
    <div class="header">
        <h2 translate="TIT_DEAL_PROJECTS">Deal Projects</h2>
        <a type="button" class="btn-floating btn-info float-right mr-0"><i class="fas fa-sync" aria-hidden="true" ng-click="refreshList()" ng-disabled="loadList"></i></a>
    </div>

    <!--Table-->
    <div ng-hide="loadList" translate="LOADING">Loading...</div>
    <div class="alert alert-primary" role="alert" ng-show="projects.length==0"><span translate="INF_EMPTY_DEAL_PROJECT"></span></div>
    <table id="dtTable" class="table table-bordered table-hover" ng-hide="projects.length==0">
        <!--Table head-->
        <thead class="mdb-color darken-1">
            <tr class="text-white">
                <th class="d-none d-sm-block d-lg-table-cell" translate="COL_USER">User</th>
                <th class="d-none d-sm-block d-lg-table-cell" translate="COL_TITLE">Project</th>
                <th translate="COL_DEAL">Deal</th>
                <th class="d-none d-sm-block d-lg-table-cell" translate="COL_AMOUNT">Amount</th>
                <th translate="COL_EXECUTED">Executed</th>
                <th translate="COL_DONATIONS">Donations</th>
                <th class="text-center" translate="COL_ACTIONS">Actions</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody class="grid-list">
            <tr ng-repeat="item in projects">
                <td class="d-none d-sm-block d-lg-table-cell">{{item.user}}</td>
                <td class="d-none d-sm-block d-lg-table-cell">{{item.project}}</td>
                <td>{{item.deal}}</td>
                <td class="d-none d-sm-block d-lg-table-cell">{{item.amount | customCurrency}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" ng-checked="item.executed==2" id="chk{{item.id}}" ng-click="changeExecutedDeal(item)">
                    <label class="custom-control-label" for="chk{{item.id}}">{{(item.executed==1)?('VAL_NO' | translate):('VAL_YES' | translate)}}</label>
                  </div>
                </td>
                <td>{{item.donations | customCurrency}}</td>
                <td class="buttons text-center">
                  <a class="btn btn-sm btn-outline-info btn-rounded waves-effect" ng-click="clickPay(item)" translate="BTN_PAY">Pay</a>
                </td>
            </tr>
        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
  </div>
</main>
