<!--Section: Banner -->
<section class="bg-dark text-light space-lg">
    <picture>
        <source srcset="/content/assets/img/back/webp/back_about1.webp" type="image/webp">
        <source srcset="/content/assets/img/back/back_about1.jpg" type="image/jpeg">
        <img src="/content/assets/img/back/back_about1.jpg" class="bg-image opacity-60">
    </picture>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-10 col-lg-7">
                <span class="title-decorative" translate="ABOUT_SLIDE_SUBTITLE">Queremos</span>
                <h1 class="display-4" translate="ABOUT_SLIDE_TITLE">Masificar tus Inversiones</h1>
                <p class="mb-3" translate="ABOUT_SLIDE_TEXT">Crece tu patrimonio y diversifica tus inversiones dentro del sector inmobiliario.</p>
            </div>
        </div>
    </div>
</section>
<!--Section: Banner -->
<!--Section: Acerca de Nosotros -->
<section class="p-100 wow fadeIn" id="about_us">
    <div class="container">
        <div class="row justify-content-center text-center section-intro">
            <div class="col-12">
                <span class="title-decorative" translate="ABOUT_SECTION1_SUBTITLE">Acerca de Nosotros</span>
                <h2 class="display-4" translate="ABOUT_SECTION1_TITLE">Nuestra Historia</h2>
                <p class="mb-3" translate="ABOUT_SECTION1_TEXT1">
                    Invesafe nace de la combinación de tecnología, economía compartida, crowdfunding (inversión colectiva) y el tradicional negocio de inversión en bienes raíces, para evolucionar a un modelo de negocio colaborativo online, sencillo y más seguro.
                </p>
                <p class="mb-3" translate="ABOUT_SECTION1_TEXT2">
                    Un lugar que conecta a pequeños inversores que buscan obtener una excelente rentabilidad, desarrolladores que solicitan financiación y profesionales en bienes raíces que aportan sus conocimientos y experiencias en la selección de los proyectos más confiables del mercado.
                </p>
                <p class="mb-3" translate="ABOUT_SECTION1_TEXT3">
                    Lo que originalmente estaba restringido a inversores altamente capitalizados, hoy es accesible al pequeño y mediano inversor a través nuestra plataforma Invesafe. Luego de un proceso de viabilidad de cada proyecto y utilizando las ventajas de la evolución digital y la era colaborativa, nos permite ofrecer un abanico de excelentes oportunidades de inversión, simplificar costos y consecuentemente lograr un aumento de rentabilidad para todos nuestros inversores.
                </p>
            </div>
        </div>
    </div>
</section>
<!--Section: Acerca de Nosotros -->
<!--Section: Frase -->
<section class="bg-gradient text-white p-50 wow fadeIn">
    <article class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <blockquote class="blockquote">
                    <h4>
                        “<span translate="ABOUT_SECTION2_TEXT">Deseamos que las inversiones se encuentren al alcance de todos</span>”
                    </h4>
                    <footer class="blockquote-footer title-decorative" translate="ABOUT_SECTION2_SING">
                        Ricardo E.
                    </footer>
                </blockquote>
                <p class="lead" translate="ABOUT_SECTION2_QUOTE">
                    Existen rumores que para realizar inversiones inmobiliarias hay que tener mucho dinero, que existe mucho riesgo o que se necesita de mucha experiencia y contactos. Todo eso fue el motor para crear Invesafe, buscando la masificación de las inversiones a través de una herramienta de inversión colectiva simple, transparente y con proyectos seleccionados por especialistas.
                </p>
            </div>
        </div>
    </article>
</section>
<!--Section: Frase -->
<!--Section: Team -->
<section class="p-50">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <h2 class="text-center" translate="ABOUT_SECTION3_TITLE">Conoce a Nuestro Equipo</h2>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-10">
                <ul class="feature-list row justify-content-center">

                    <li class="col-6 col-lg-4 text-center">
                        <picture>
                            <source srcset="/content/assets/img/team/webp/alfredo2.webp" type="image/webp">
                            <source srcset="/content/assets/img/team/alfredo2.png" type="image/jpeg">
                            <img src="/content/assets/img/team/alfredo2.png" class="img-team mb-3 obj-center" alt="Image">
                        </picture>
                        <h5 class="mb-0 bold" translate="ABOUT_SECTION3_TEAM3_NAME">Alfredo Galiano</h5>
                        <span translate="ABOUT_SECTION3_TEAM3_POSITION">Co-Fundador</span>
                        <ul class="list-inline list-links mt-2">
                            <li class="list-inline-item"><a href="https://ar.linkedin.com/in/alfredogaliano" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </li>
                    <li class="col-6 col-lg-4 text-center">
                        <picture>
                            <source srcset="/content/assets/img/team/webp/ricardo2.webp" type="image/webp">
                            <source srcset="/content/assets/img/team/ricardo2.png" type="image/jpeg">
                            <img src="/content/assets/img/team/ricardo2.png" class="img-team mb-3 obj-center" alt="Image">
                        </picture>
                        <h5 class="mb-0 bold" translate="ABOUT_SECTION3_TEAM1_NAME">Ricardo Espeche</h5>
                        <span translate="ABOUT_SECTION3_TEAM1_POSITION">Co-Fundador</span>
                        <ul class="list-inline list-links mt-2">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ricardo-espeche/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row justify-content-center text-center section-outro">
            <div class="col-lg-4 col-md-5">
                <h6 class="bold" translate="ABOUT_SECTION3_QUESTION">¿Quieres unirte al equipo?</h6>
                <p translate="ABOUT_SECTION3_ANSWER">Estamos constantemente buscando personas talentosas y apasionadas, que quieran trabajar con nosotros.</p>
                <a href="#" ng-click="clickAction(114)"><span translate="ABOUT_SECTION3_LINK">Mira las vacantes</span> <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!--Section: Team -->
<!--Section: Partners -->
<section class="bg-dark p-50">
    <div class="container">
        <div class="col-12 text-center">
            <h2 translate="ABOUT_SECTION4_TITLE">Trabajamos en Conjunto</h2>
            <p class="lead mt-2" translate="ABOUT_SECTION4_TEXT">Estas son las empresas que nos acompañaron en la consolidación</p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ul id="carLogo" class="carrusel" ng-init="initCarrueselLogo('carLogo')">

                    <li>
                        <div class="fitLogo">
                            <a href="http://carranzatorres.com.ar/" target="_blank">
                                <picture>
                                    <source srcset="/content/assets/img/team/webp/logo1.webp" type="image/webp">
                                    <source srcset="/content/assets/img/team/logo1.png" type="image/png">
                                    <img src="/content/assets/img/team/logo1.png" class="logoCom mb-2" alt="Carranza Torres & Asociados">
                                </picture>
                            </a>
                        </div>
                        <span translate="ABOUT_SECTION4_DETAIL1">Estudio Legal</span>
                    </li>
                    <li>
                        <div class="fitLogo">
                            <a href="https://thebox.lat/" target="_blank">
                                <picture>
                                    <source srcset="/content/assets/img/team/webp/logo2.webp" type="image/webp">
                                    <source srcset="/content/assets/img/team/logo2.png" type="image/png">
                                    <img src="/content/assets/img/team/logo2.png" class="logoCom mb-2" alt="TheBOX.lat">
                                </picture>
                            </a>
                        </div>
                        <span translate="ABOUT_SECTION4_DETAIL2">Real Estate Consulting & Market Research</span>
                    </li>
                    <li>
                        <div class="fitLogo">
                            <a href="http://www.camarco.org.ar/" target="_blank">
                                <picture>
                                    <source srcset="/content/assets/img/team/webp/logo3.webp" type="image/webp">
                                    <source srcset="/content/assets/img/team/logo3.png" type="image/png">
                                    <img src="/content/assets/img/team/logo3.png" class="logoCom mb-2" alt="Cámara Argentina de la Construcción">
                                </picture>
                            </a>
                        </div>
                        <span translate="ABOUT_SECTION4_DETAIL3">Seleccionado Convocatoria TIIC 2019</span>
                    </li>
                    <li>
                        <div class="fitLogo">
                            <a href="https://parabolt.net/" target="_blank">
                                <picture>
                                    <source srcset="/content/assets/img/team/webp/logo4.webp" type="image/webp">
                                    <source srcset="/content/assets/img/team/logo4.png" type="image/png">
                                    <img src="/content/assets/img/team/logo4.png" class="logoCom mb-2" alt="Parabolt.net">
                                </picture>
                            </a>
                        </div>
                        <span translate="ABOUT_SECTION4_DETAIL4">Incubación junto a Parabolt</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!--Section: Partners -->
<!--Section: Mapa -->
<section class="" id="map">
    <div class="row">
        <div class="col-12 col-lg-6 p-0">
            <div class="cta_background left-contact-block d-flex align-items-center justify-content-center text-light">
                <div class="col-sm-8 text-left">
                    <p class="contact_name" translate="ABOUT_SECTION5_BRAND">Invesafe</p>
                    <div class="row justify-content-left mb-4">
                        <div class="col-sm-4">
                            <div class="justify-content-center form-divider-pink"></div>
                        </div>
                    </div>
                    <p class="contact_address" translate="ABOUT_SECTION5_ADDRESS">Orlando, FL <br>United States</p>
                    <div class="mt-5">
                        <a href="/contact" class="btn btn-linea-celeste btn-lg float-right" translate="ABOUT_SECTION5_BTN">Contáctenos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-0 min-height bg-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112222.13767776008!2d-81.42506579335074!3d28.4812992552671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773d8fecdbc77%3A0xac3b2063ca5bf9e!2sOrlando%2C%20FL!5e0!3m2!1sen!2sus!4v1698763250105!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!--Section: Mapa -->