<main ng-controller="accessibilityStatementController" ng-init="loadAccessibilityStatement()">

  <banner-page title="{{'ACCESSIBILITY_SLIDE_TITLE' | translate}}" text="{{'ACCESSIBILITY_SLIDE_TEXT' | translate}}" image="back_legal" size="xs" align="start"/>

  <!--Section: Privacidad -->
  <section class="p-50 privacy">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <div ng-hide="loadPage" translate="LOADING">Loading...</div>
              <div ng-bind-html="customHtml | unsafe"></div>
            </div>
          </div>
      </div>
  </section>
  <!--Section: Privacidad -->

</main>
