<!--Section: Banner -->
<section class="bg-dark space-lg text-white">
    <picture>
        <source srcset="/content/assets/img/back/webp/back_benefits1.webp" type="image/webp">
        <source srcset="/content/assets/img/back/back_benefits1.jpg" type="image/jpeg">
        <img src="/content/assets/img/back/back_benefits1.jpg" class="bg-image bg-bottom opacity-60">
    </picture>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-8 col-lg-7 text-center">
                <h1 class="display-3">Más Beneficios</h1>
                <p class="mb-3"> ¿Quieres incrementar tu tasa de inversión? Creamos dos beneficios para que puedas hacerlo. </p>
                <a href="/projects" class="btn btn-success btn-lg">Invierte ahora</a>
            </div>
        </div>
    </div>
</section>
<!--Section: Banner -->
<!--Section: Beneficios -->
<section class="space-lg">
    <div class="container">
        <ul class="feature-list feature-list-xlg">
            <li class="row align-items-center justify-content-around">
                <div class="col-12 col-md-6 order-md-2"> <img alt="Image" class="img-fluid rounded" src="/content/assets/img/theme/beneficiomonto.jpg"> </div>
                <div class="col-12 col-md-6 col-lg-5 text-lg-center order-md-1">
                    <span class="title-decorative">Beneficio monto</span>
                    <h3 class="h1">Mayor la inversión, mayor la tasa</h3>
                    <p class="lead"> Ahora cada vez que estés seleccionando el monto a invertir, puedes tener un beneficio dependiendo del mismo. Puedes aumentar tu tasa un 1.25% adicional o inclusive más dependiendo del proyecto. </p>
                </div>
            </li>
            <li class="row align-items-center justify-content-around">
                <div class="col-12 col-md-6 order-1"> <img alt="Image" class="img-fluid rounded" src="/content/assets/img/theme/beneficioearlyinvestor.jpg"> </div>
                <div class="col-12 col-md-6 col-lg-5 text-lg-center order-2">
                    <span class="title-decorative">Beneficio early investor</span>
                    <h3 class="h1">La inversión temprana se recompenza</h3>
                    <p class="lead"> ¿Eres un early investor que decide invertir en nuestros proyectos rápido? Si inviertes antes de que se cubra el 30% o 40% de la campaña puedes obtener un beneficio de % adicional en la tasa. </p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--Section: Beneficios -->