<!--Section: Banner -->
<section class="bg-dark text-white space-lg">
    <picture>
        <source srcset="/content/assets/img/back/webp/back_carrers1.webp" type="image/webp">
        <source srcset="/content/assets/img/back/back_carrers1.jpg" type="image/jpeg">
        <img src="/content/assets/img/back/back_carrers1.jpg" class="bg-image opacity-50">
    </picture>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-8 col-lg-7 text-center">

                <h1 class="display-4" translate="CARRERS_SLIDE_TITLE">Trabaja con Nosotros</h1>
                <p class="mb-3" translate="CARRERS_SLIDE_TEXT">Somos un equipo que crece con apasionadas personas que buscan revolucionar la industria de las finanzas y del real estate.</p>
            </div>
        </div>
    </div>
</section>
<!--Section: Banner -->
<!--Section: Ofertas Laborales -->
<section class="p-100 wow fadeIn">
    <div class="container">
        <div class="row justify-content-center text-center section-intro">
            <div class="col-12 col-md-9 col-lg-8">
                <span class="title-decorative" translate="CARRERS_SECTION1_SUBTITLE">Nuestras</span>
                <h2 class="display-4" translate="CARRERS_SECTION1_TITLE">Ofertas Laborales</h2>
                <p class="mb-3" translate="CARRERS_SECTION1_TEXT">Estas son nuestras actuales vacantes para que te sumes a un equipo joven e innovador.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h4 class="mb-4" translate="CARRERS_DEPARTMENT1">Departamento IT</h4>
                <div class="card mb-5">
                    <ul class="list-group list-group-lg list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            <a href="https://www.computrabajo.com.ar/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-wordpress-senior-zona-norte-en-cordoba-C12A08FDE45DA4A861373E686DCF3405" target="_blank">Desarrollador Wordpress Senior</a>
                            <span>Córdoba, Part Time/Remoto</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row justify-content-center text-center section-outro">
            <div class="col-lg-4 col-md-5">
                <h6 class="bold" translate="CARRERS_QUESTION">¿No encontraste el puesto que buscas?</h6>
                <p translate="CARRERS_ANSWER">No importa, si piensas que podemos hacer sinergia trabajando juntos... por favor, escríbenos.</p>
                <a href="#" ng-click="clickAction(111)"><span translate="MENU_CONTACT">Contacto</span> <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!--Section: Ofertas Laborales -->
<!--Section: Beneficios -->
<section class="bg-gray p-100">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="h1" translate="CARRERS_SECTION2_TITLE">¿Por Qué Trabajar con Nosotros?</h2>
            </div>
        </div>
        <ul class="row feature-list justify-content-center">
            <li class="col-12 col-md-6 col-lg-5">
                <i class="fas fa-gift fa-3x fa-under mb-3"></i>
                <h5 class="bold" translate="CARRERS_SECTION2_OPTION1_TITLE">Somos innovadores</h5>
                <p translate="CARRERS_SECTION2_OPTION1_TEXT">
                    Es un proyecto que en Argentina no hay precedencia alguna. Sumarse desde un comienzo a este tipo de proyectos te brindará una excelente posibilidad de carrera en la empresa.
                </p>
            </li>
            <li class="col-12 col-md-6 col-lg-5">
                <i class="fas fa-laugh-wink fa-3x fa-under mb-3"></i>
                <h5 class="bold" translate="CARRERS_SECTION2_OPTION2_TITLE">Somos flexible</h5>
                <p translate="CARRERS_SECTION2_OPTION2_TEXT">
                    Sabemos que lo importante es sentirse bien y cómodo en el trabajo. Por eso, te ayudamos a que puedas hacerlo desde el lugar que más te guste. Nuestra metodología de trabajo es dinámica.
                </p>
            </li>
        </ul>
    </div>
</section>
<!--Section: Beneficios -->
