<main ng-controller="changeLogController" ng-init="loadChangeLog()">

  <banner-page title="{{'CHANGELOG_SLIDE_TITLE' | translate}}" text="{{'CHANGELOG_SLIDE_TEXT' | translate}}" image="back_changelog1" size="xs" align="start"/>

  <!--Section: Changelog list Web Site -->
  <section class="p-50" ng-show="lstLogs && lstLogs['site']">
      <div class="container">
          <h3 translate="CHANGELOG_SECTION1_TITLE">Sitio Web</h3>
          <div class="row" ng-repeat="(key, value) in lstLogs['site']">
              <div class="col-12 col-md-2 mb-5">
                  <nav class="nav flex-md-column">
                      <span class="badge badge-secondary">{{value.date}}</span>
                  </nav>
              </div>
              <!--end of col-->
              <div class="col-12 col-md-8">
                  <article id="100">
                      <h3><code>{{key}}</code> - <span>{{value.title}}</span></h3>
                      <div>
                          <p>{{value.description}}</p>
                      </div>
                  </article>
              </div>
              <div class="col">
                  <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
                      <a data-smooth-scroll="" href="#100" class="nav-link text-small">{{value.last.version}} - {{value.last.date}}</a>
                  </nav>
              </div>
          </div>
          <hr class="short" ng-show="lstLogs['dashboard']">
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--Section: Changelog list Web Site -->

  <!--Section: Changelog list Dashboard -->
  <section class="p-50" ng-show="lstLogs && lstLogs['dashboard']">
      <div class="container">
          <h3 translate="CHANGELOG_SECTION2_TITLE">Dashboard del Inversor</h3>
          <div class="row" ng-repeat="(key, value) in lstLogs['dashboard']">
              <div class="col-12 col-md-2 mb-5">
                  <nav class="nav flex-md-column">
                      <span class="badge badge-secondary">{{value.date}}</span>
                  </nav>
              </div>
              <!--end of col-->
              <div class="col-12 col-md-8">
                  <article id="100">
                    <h3><code>{{key}}</code> - <span>{{value.title}}</span></h3>
                    <div>
                        <p>{{value.description}}</p>
                    </div>
                  </article>
              </div>
              <div class="col">
                  <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
                      <a data-smooth-scroll="" href="#100" class="nav-link text-small">{{value.last.version}} - {{value.last.date}}</a>
                  </nav>
              </div>
          </div>
      </div>
      <!--end of container-->
  </section>
  <!--Section: Changelog list Dashboard -->

</main>
