<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/44518863.js"></script>
<!-- End of HubSpot Embed Code -->

<!--Carousel Wrapper-->
<div id="carousel-invesafe" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000" style="height: 100%;" ng-init="loadHome()">

    <!--Mouse Whell-->
    <div id="mouse-whell">
        <p><a class="mouse-scroll scroll-to-anchor" href="#about_invesafe">mouse</a></p>
    </div>
    <!--/.Mouse Whell-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view slide1">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong translate="SLIDE_TITLE">Inversión Inmobiliaria Colaborativa</strong>
                        </h1>

                        <p class="mb-4" translate="SLIDE_TEXT">Una nueva forma de invertir en proyectos inmobiliarios al alcance de todos</p>

                        <a href="#" ng-click="clickAction(113)" class="btn btn-linea-celeste btn-lg" translate="SLIDE_BUTTON1">Obtén Financiamiento</a>
                        <a href="#" ng-click="clickAction(105)" class="btn btn-fucsia btn-lg" translate="SLIDE_BUTTON2">Empieza a Invertir</a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>

        </div>
        <!--/First slide-->

    </div>
    <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
<!--Section: Que es Invesafe? -->
<section class="p-100 wow fadeIn" id="about_invesafe">

    <div class="container">
        <h1 class="h1 text-center mb-5" translate="HOME_SECTION1_TITLE">¿Qué es Invesafe?</h1>

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-12 col-md-12">

                <p class="mb-3 text-center" translate="HOME_SECTION1_TEXT">
                    Es una plataforma que te facilita el ingreso al mercado de inversión inmobiliaria en Estados Unidos de forma fácil, transparente y segura; brindando asesoramiento integral y acompañando al inversor durante todo el proceso.
                </p>

                <div class="text-center">
                    <a href="#" ng-click="clickAction(110)" class="btn btn-fucsia btn-lg text-center" translate="BUTTON_LEARN_MORE">Conozca Más</a>
                </div>

            </div>
            <!--/Grid column-->

        </div>
        <!--/Grid row-->
    </div>

</section>
<!--Section: Que es Invesafe? -->
<!--Section: Que es el Crowdfunding? -->
<section class="bg-gradient text-white p-50 wow fadeIn" id="section_WhatIsCrowdfunding">

    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="display-4" translate="HOME_SECTION2_TITLE">¿Qué es el Crowdfunding Inmobiliario?</h2>
                <p class="lead mt-3" translate="HOME_SECTION2_TEXT">
                    El <strong>crowdfunding inmobiliario</strong> es el método por el que cualquier usuario puede acceder a una <strong>plataforma online</strong> e invertir desde pequeños montos en un proyecto más amplio. Es decir, el usuario acabará financiando una micro parte de un proyecto inmobiliario completo.
                </p>
            </div>
        </div>

    </div>

</section>
<!--Section: Que es el Crowdfunding? -->
<!--Section: Como funciona -->
<section class="p-100 wow fadeIn">

    <div class="container">
        <h1 class="h1 text-center mb-4" translate="HOME_SECTION3_TITLE">¿Cómo Funciona?</h1>

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-12 col-md-12 px-4 text-center">

                <p class="mb-4" translate="HOME_SECTION3_TEXT">Es simple y rápido</p>

                <ul class="feature-list feature-list-sm row justify-content-center mb-2">
                    <li class="col-lg col-md-4 col-sm-4 col-5">
                        <picture>
                            <source srcset="/content/assets/img/icons/webp/icon1.webp" type="image/webp">
                            <source srcset="/content/assets/img/icons/icon1.png" type="image/png">
                            <img data-src="/content/assets/img/icons/icon1.png" class="box-shadow mb-2 icon-110 opacity-80 lazyload" alt="Image">
                        </picture>
                        <p class="text-center" translate="HOME_SECTION3_ICON1">Elige el proyecto que más te interese</p>
                    </li>
                    <li class="col-lg col-md-4 col-sm-4 col-5">
                        <picture>
                            <source srcset="/content/assets/img/icons/webp/icon2.webp" type="image/webp">
                            <source srcset="/content/assets/img/icons/icon2.png" type="image/png">
                            <img data-src="/content/assets/img/icons/icon2.png" class="box-shadow mb-2 icon-110 opacity-80 lazyload" alt="Image">
                        </picture>
                        <p class="text-center" translate="HOME_SECTION3_ICON2">Invierte a partir de<br />U$S 20,000</p>
                    </li>
                    <li class="col-lg col-md-4 col-sm-4 col-5">
                        <picture>
                            <source srcset="/content/assets/img/icons/webp/icon3.webp" type="image/webp">
                            <source srcset="/content/assets/img/icons/icon3.png" type="image/png">
                            <img data-src="/content/assets/img/icons/icon3.png" class="box-shadow mb-2 icon-110 opacity-80 lazyload" alt="Image">
                        </picture>
                        <p class="text-center" translate="HOME_SECTION3_ICON3">Monitorea tus inversiones desde tu panel</p>
                    </li>
                    <li class="col-lg col-md-4 col-sm-4 col-5">
                        <picture>
                            <source srcset="/content/assets/img/icons/webp/icon4.webp" type="image/webp">
                            <source srcset="/content/assets/img/icons/icon4.png" type="image/png">
                            <img data-src="/content/assets/img/icons/icon4.png" class="box-shadow mb-2 icon-110 opacity-80 lazyload" alt="Image">
                        </picture>
                        <p class="text-center" translate="HOME_SECTION3_ICON4">Recibe tu capital + las ganancias</p>
                    </li>
                </ul>

                <a href="#" ng-click="clickAction(109)" class="btn btn-fucsia btn-lg" translate="BUTTON_MORE_INFORMATION">Más Información</a>

            </div>
            <!--/Grid column-->

        </div>
        <!--/Grid row-->
    </div>

</section>
<!--Section: Como funciona -->
<!--Section: Proyectos -->
<section class="bg-dark p-50 wow fadeIn">

    <div class="container">
        <h1 class="h1 text-center mb-4" translate="HOME_SECTION4_TITLE">Oportunidades</h1>

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-12 col-md-12 px-4 text-center">

                <p class="mb-4" translate="HOME_SECTION4_TEXT">Analizamos cada proyecto con un equipo de profesionales para garantizar la tranquilidad de nuestros inversores</p>

                <a class="btn btn-celeste btn-lg" href="#" ng-click="clickAction(105)" translate="BUTTON_VIEW_PROJECTS">View Projects</a>

            </div>
            <!--/Grid column-->

        </div>
        <!--/Grid row-->

    </div>

</section>
<!--Section: Proyectos -->
<!--Section: Ventajas con Invesafe -->
<section class="p-100 wow fadeIn">

    <div class="container">
        <h1 class="h1 text-center mb-4" translate="HOME_SECTION5_TITLE">¿Porqué Invesafe?</h1>

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-12 col-md-12 px-4 text-center">

                <p class="mb-5" translate="HOME_SECTION5_TEXT">Estudiamos y analizamos la mejor forma de resguardar tus ahorros</p>

                <ul class="feature-list feature-list-sm row justify-content-center mb-3">
                    <li class="col-6 col-md-2 col-sm-6">
                        <div class="card-header card-header-borderless">
                            <div class="container-fa">
                                <span class="fa-under2 fas fa-lock"></span>
                                <span class="fa-over fas fa-lock"></span>
                            </div>
                        </div>
                        <div class="card-body text-body">
                            <h4 class="card-title" translate="HOME_SECTION5_ICON1">Seguro</h4>
                        </div>
                    </li>
                    <li class="col-6 col-md-2 col-sm-6 text-center">
                        <div class="card-header card-header-borderless">
                            <div class="container-fa">
                                <span class="fa-under2 fas fa-chart-line"></span>
                                <span class="fa-over fas fa-chart-line"></span>
                            </div>
                        </div>
                        <div class="card-body text-body">
                            <h4 class="card-title" translate="HOME_SECTION5_ICON2">Conveniente</h4>
                        </div>
                    </li>
                    <li class="col-6 col-md-2 col-sm-6 text-center">
                        <div class="card-header card-header-borderless">
                            <div class="container-fa">
                                <span class="fa-under2 fas fa-tint"></span>
                                <span class="fa-over fas fa-tint"></span>
                            </div>
                        </div>
                        <div class="card-body text-body">
                            <h4 class="card-title" translate="HOME_SECTION5_ICON3">Transparente</h4>
                        </div>
                    </li>
                    <li class="col-6 col-md-2 col-sm-6 text-center">
                        <div class="card-header card-header-borderless">
                            <div class="container-fa">
                                <span class="fa-under2 fas fa-puzzle-piece"></span>
                                <span class="fa-over fas fa-puzzle-piece"></span>
                            </div>
                        </div>
                        <div class="card-body text-body">
                            <h4 class="card-title" translate="HOME_SECTION5_ICON4">Fácil</h4>
                        </div>
                    </li>
                </ul>

                <a href="#" ng-click="clickAction(109)" class="btn btn-fucsia btn-lg" translate="BUTTON_MORE_INFORMATION">Más Información</a>

            </div>
            <!--/Grid column-->

        </div>
        <!--/Grid row-->
    </div>

</section>
<!--Section: Ventajas con Invesafe -->
<!--Section: Invierte -->
<section class="bg-dark text-center p-100">
    <div class="container">
        <div class="row">
            <picture>
                <source srcset="/content/assets/img/back/webp/back_home1.webp" type="image/webp">
                <source srcset="/content/assets/img/back/back_home1.jpg" type="image/jpeg">
                <img data-src="/content/assets/img/back/back_home1.jpg" class="bg-image opacity-50 lazyload">
            </picture>
            <div class="col-12">
                <h3 class="h1" translate="HOME_SECTION6_TITLE">Invierte en Activos Reales</h3>
                <a class="btn btn-linea-celeste btn-lg" ng-click="showPreviousProperties()" translate="BTN_PREVIOUS_PROPERTIES">Ver Más Proyectos</a>
            </div>
        </div>
    </div>
</section>
<!--Section: Invierte -->
